mqttchat.txt
[{"id":"54b6ca1b.125ff4","type":"tab","label":"フロー 1"},{"id":"500b1ea1.3e2d1","type":"http in","z":"54b6ca1b.125ff4","name":"","url":"/chat","method":"get","swaggerDoc":"","x":136,"y":94,"wires":[["905ba519.a8dbb"]]},{"id":"905ba519.a8dbb","type":"template","z":"54b6ca1b.125ff4","name":"チャット画面","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\"/>\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"/>\n<meta name=\"apple-mobile-web-app-capable\" content=\"yes\"/>\n<title>MQTT Chat</title>\n<script type=\"text/javascript\" src=\"//code.jquery.com/jquery-2.2.4.min.js\"></script>\n<script type=\"text/javascript\">\nvar deviceid = null;\n\n$(function(){\n  getDeviceId();\n\n  $('#nameform').submit( function(){\n    var displayname = $('#displayname').val();\n    if( displayname != null && displayname != '' ){\n      $('#namespan').html( displayname );\n      $('#name').val( displayname );\n      $('#nameinput').css( 'display', 'none' );\n      $('#messages').css( 'display', 'block' );\n      connect();\n    }\n    return false;\n  });\n  \n  $('#publishform').submit( function(){\n    var message = $('#message').val();\n    var data = {\n        id: $('#id').val(),\n        name: $('#name').val(),\n        message: message\n    };\n    console.log( data );\n    $.ajax({\n      type: \"POST\",\n      url: \"./post\",\n      data: data,\n      success: function( data0, dataType ){\n        console.log( data0 );\n      },\n      error: function( jqXHR, textStatus, errorThrown ){\n        //console.log( textStatus );\n      }\n    });\n    \n    return false;\n  });\n});\n\nvar socket;\nvar wsUrl = 'ws://' + location.hostname + '/ws/chat';\nfunction connect(){\n  console.log( \"connect()\" );\n  socket = new WebSocket(wsUrl);\n  socket.onmessage = function(e) {\n    var msg = JSON.parse(e.data);\n    //console.log( msg );\n    if( msg.id != deviceid ){\n      //. 自分以外の発言\n      var box = \"<div class='question_box'><p class='notmymessage'>\" + msg.name + \"</p><div id='arrow_question'>\" + msg.message + \"</div></div>\";\n      $('#contents').append( box );\n    }else{\n      //. 自分の発言\n      var box = \"<div class='answer_box'><p class='mymessage'>\" + msg.name + \"</p><div id='arrow_answer'>\" + msg.message + \"</div></div>\"\n      $('#contents').append( box );\n    }\n  }\n}\n\nfunction getDeviceId(){\n  var did = null;\n  cookies = document.cookie.split( \"; \" );\n  for( i = 0; i < cookies.length; i ++ ){\n    str = cookies[i].split( \"=\" );\n    if( unescape( str[0] ) == \"deviceid\" ){\n      did = unescape( unescape( str[1] ) );\n    }\n  }\n  \n  if( did != null ){\n    deviceid = did;\n  }else{\n    deviceid = generateDeviceId();\n    //console.log( \"deviceid = \" + deviceid );\n  }\n  $('#id').val( deviceid );\n}\n\nfunction generateDeviceId(){\n  var did = \"\";\n  var hx = \"0123456789abcdef\";\n  for( i = 0; i < 12; i ++ ){\n    var n = Math.floor( Math.random() * 16 );\n    if( n == 16 ){ n = 15; }\n    c = hx.charAt( n );\n    did += c;\n  }\n  \n  var str = \"deviceid=\" + did;\n  document.cookie = str;\n\t\n  return did;\n}\n</script>\n<style type=\"text/css\">\nhtml{\n  height: 100%;\n}\n\nbody{\n     width:100%;\n     min-width: 320px;\n     margin:0;\n     padding: 0;\n     background-color: #6f92c0;\n}\n\n#wrapper{\n    margin: 20px auto;\n    width:96%;\n    position: relative;\n    height: auto !important;\n    height: 100%;\n    min-height: 100%;\n}\n\n#contents {\n    padding-bottom: 40px;\n}\n\n#footer {\n    margin: 20px auto;\n    position: fixed;\n    bottom: 0;\n    width: 96%;\n    height: 30px;\n    background-color: #ffffff;\n}\n\n#namespan {\n    font-weight: bold;\n}\n\n\n.question_box,\n.answer_box{\n     width:100%;\n}\n\n.question_box{float: right;}\n.answer_box{float: left;}\n\n\np.mymessage,\np.notmymessage{\n     font-size: 14px;\n     color: #fff;\n     margin:0;\n}\n\np.mymessage{text-align: right;}\n\n\n\n#arrow_answer,\n#arrow_question {\n     position: relative;\n     display: inline-block;\n     padding: 3%;\n     width: 88%;\n     font-size: 13px;\n     margin-left:3%;\n     margin-top: 3px;\n     margin-bottom: 25px;\n     color: #000;\n     border-radius: 10px;\n}\n\n#arrow_question {\n     background: #fff;\n}\n\n#arrow_answer {\n     background: #85e249;\n}\n\n#arrow_answer:before,\n#arrow_question:before {\n     content: \"\";\n     position: absolute;\n     top: 0px;\n     margin-left: 0;\n     display: block;\n     width: 30px;\n     height: 30px;\n     z-index: -1;\n}\n\n#arrow_question:before {\n     left: -10px;\n     background: #fff;\n     border-radius: 0px 30px;\n}\n\n#arrow_answer:before{\n     right: -10px;\n     background: #85e249;\n     border-radius: 30px 0;\n}\n\n\n#arrow_answer:after,\n#arrow_question:after {\n     content: \"\";\n     position: absolute;\n     top: -10px;\n     margin-left: 0px;\n     display: block;\n     width: 25px;\n     height: 25px;\n     background: none repeat scroll 0% 0% #6f92c0;\n     z-index: -1;\n}\n\n#arrow_question:after {\n     left: -12px;\n     transform: rotate(10deg);\n     border-radius: 0px 30px;\n}\n\n#arrow_answer:after {\n     right: -12px;\n     border-radius: 30px 0px;\n     transform: rotate(20deg);\n}\n\n.floating {\n bottom: 40px;\n position: fixed;\n z-index: 1;\n}\n</style>\n</head>\n<body>\n<div>\n <div id=\"nameinput\">\n  <form id=\"nameform\">\n   <input type=\"text\" size=\"50\" id=\"displayname\" placeholder=\"（自分の名前を入力して入室します）\"/><input type=\"submit\" value=\"入室\"/>\n  </form>\n </div>\n  \n <div id=\"messages\" style=\"display:none;\">\n  <div id=\"wrapper\">\n   <div id=\"contents\">\n       \n   </div>\n   <div id=\"footer\" class=\"floating\">\n    <form name=\"publishform\" id=\"publishform\" action=\"./post\" method=\"post\">\n     <input type=\"hidden\" name=\"id\" id=\"id\" value=\"\"/><input type=\"hidden\" name=\"name\" id=\"name\" value=\"\"/>\n     <span id=\"namespan\"></span>&nbsp;<input name=\"message\" id=\"message\" value=\"\"/>\n    </form>\n   </div>\n  </div>\n </div>\n</div>\n</body>\n</html>\n\n\n","x":326,"y":96,"wires":[["93bdf454.0198a"]]},{"id":"93bdf454.0198a","type":"http response","z":"54b6ca1b.125ff4","name":"","x":497,"y":100,"wires":[]},{"id":"94acf76b.35785","type":"ibmiot in","z":"54b6ca1b.125ff4","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":97,"y":256,"wires":[["2a722e3d.50ae9a"]]},{"id":"2a722e3d.50ae9a","type":"websocket out","z":"54b6ca1b.125ff4","name":"","server":"720390b1.60b9a8","client":"","x":346,"y":295,"wires":[]},{"id":"5be89b3a.f31fb4","type":"http in","z":"54b6ca1b.125ff4","name":"","url":"/post","method":"post","swaggerDoc":"","x":127,"y":147,"wires":[["51953419.b73bd4"]]},{"id":"51953419.b73bd4","type":"function","z":"54b6ca1b.125ff4","name":"パラメータ取り出し","func":"var body = msg.req.body;\nreturn {payload: body};","outputs":1,"noerr":0,"x":314,"y":148,"wires":[["95f86464.99bc88","d603eabb.29356"]]},{"id":"d603eabb.29356","type":"debug","z":"54b6ca1b.125ff4","name":"","active":false,"console":"false","complete":"false","x":434.5,"y":241,"wires":[]},{"id":"95f86464.99bc88","type":"ibmiot out","z":"54b6ca1b.125ff4","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"","deviceType":"0.16.2","eventCommandType":"status","format":"json","data":"{\"d\":{\"name\":\"value\"}}","qos":0,"name":"IBM IoT","service":"quickstart","x":533.5,"y":165,"wires":[]},{"id":"720390b1.60b9a8","type":"websocket-listener","z":"","path":"/ws/chat","wholemsg":"false"}]